.profile-pic{
  width: 128px;
  height: 128px;
  border-radius: 64px;
  object-fit: cover;
  object-position: center;
}

.carousel-pic{
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}


@media screen and (max-width: 600px) {
  .carousel-pic{
    height: 70px;
  }
}
